@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html {
    width: 90%;
    margin: 4% auto;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(63, 88, 107);
    background-image: url(https://moorcode.files.wordpress.com/2020/08/lmc-1.jpg);
    background-position: right;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

header, main {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto 15%;
}

#branding {
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto 15%;
    padding: 1px 0 0 0;
    background-color: rgb(24, 26, 27);
    text-align: center;
    opacity: 90%;
}

.logo {
    width: 30%;
    min-width: 10em;
    height: auto;
    min-height: 10em;
    margin: 4% auto;
}

h1 {
    margin: 0 auto;
    font-family: "Anonymous Pro",monospace;
    font-style: normal;
    font-weight: 10;
    font-size: 1.5em;
    color: rgb(143, 169, 189);
}

h2 {
    margin: 4% auto;
    color: #a8a6a1;
    font-family: "Yrsa",Georgia,serif;
    font-size: 1.1em;
    font-weight: 10;
}

#social-media {
    width: 100%;
    height: 4em;
    margin: 0 0 0 -4%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

#social-media a {
    background-color: #4f6e86;
    margin: 0;
    padding: 60%;
    color: #fff;
    border-radius: 50%;
}

.svg-inline--fa {
    margin: 0 0 -1px 0;
    padding: 0;
    font-size: 1em;
}

#menu {
    width: 100%;
    height: 2.3em;
    margin: 6% 0 0 0;
    padding: 0;
    background-color: #4f6e86;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-family: 'Bebas Neue', 'Arial Narrow Bold', sans-serif;
}

#menu a {
    padding: 0;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: .1em;
    text-decoration: none;
}

#about {
    margin: 0 auto 15% auto;
    padding: 1px 4%;
    background-color: rgb(24, 26, 27);
    color: rgb(175, 168, 157);
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    line-height: 1.6;
    opacity: 80%;
}

h3 {
    margin: 4% 0;
    color: rgb(143, 169, 189);
    font-size: 1.1em;
}

table {
    margin: 4% auto;
    padding: 2%;
    border: 1px solid white;
    font-family: 'Open Sans Condensed', sans-serif;
    list-style: none;
    line-height: 2.0;
    color: rgb(228, 226, 224);
}

td.title {
    color: rgb(255, 243, 197);
    font-size: 1em;
    font-weight: 800;
}

p {
    margin: 4% auto;
    padding: 0 0 0 4%;
    font-size: .9em;
}

#services {
    margin: 0 auto 15% auto;
    padding: 1px 4%;
    background-color: rgb(24, 26, 27);
    color: rgb(175, 168, 157);
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    line-height: 1.6;
    opacity: 80%;
}

#services ul {
    margin: 4% auto;
    padding: 4%;
    font-size: .9em;
}

#services .svg-inline--fa {
    font-size: .7em;
}

hr {
    width: 95%;
    margin: 0 auto;
    border: 1px solid white;
}

#services ul li {
    width: auto;
    margin: 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: rgb(255, 243, 197);
}

.fa-star {
    color: rgb(175, 168, 157);
}

.star-on {
    color: rgb(255, 100, 43);
}

#contact {
    height: fit-content;
    margin: 0 auto 15% auto;
    padding: 1px 4%;
    background-color: rgb(24, 26, 27);
    color: rgb(175, 168, 157);
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    line-height: 1.6;
    opacity: 80%;
}

#contact form {
    height: fit-content;
    margin: 4% auto;
    padding: 1px 4%;
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    justify-items: flex-start;
    font-size: .9em;
    line-height: 2;
}

label {
    height: fit-content;
    width: auto;
    margin: 0 0 6% 0;
    display: flex;
    flex-flow: column;
}

input {
    height: auto;
    width: auto;
    padding: 2%;
    font-family: "Anonymous Pro",monospace;
    font-size: 1em;
}

textarea {
    height: 15em;
    width: auto;
    font-family: "Anonymous Pro",monospace;
    font-size: .5em;
}

button {
    margin: 1%;
    padding: 2% 8%;
    align-self: center;
    background-color: #4f6e86;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1.2px;
}

#projects {
    margin: 0 auto 15% auto;
    padding: 1px 4%;
    background-color: rgb(24, 26, 27);
    color: rgb(175, 168, 157);
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    font-size: 1em;
    line-height: 1.6;
    opacity: 80%;
}

#projects h4 {
    margin: 4% 0;
    font-size: .8em;
    text-decoration: none;
    color: rgb(255, 243, 197);
}

#projects img {
    width: 100%;
    margin: 4% 0;
    opacity: 100%;
}

#projects a {
    text-decoration: none;
    color: rgb(255, 143, 240);
}

@media only screen and (min-width: 500px) {

    header {  
        margin: 0;
    }

    #branding {
        width: 90vw;
        margin: 0 0 10% 0;
        max-height: fit-content;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }

    .logo {
        width: 100%;
        margin: 10% 4% 0;
    }

    h1 {
        height: fit-content;
        margin: 16% 0 4%;
        font-size: 2rem;
    }

    h2 {
        margin: -33% 0 0;
        font-size: 1.4rem;
        grid-area: 2 / 2 / 3 / 3;
    }

    #social-media {
        height: 2em;
        margin: -15% 0 1.5%;
        font-size: 1em;
        grid-area: 2 / 2 / 3 / 3;
    }
    
    #social-media a {
        padding: .5em;
        font-size: 1.1em;
    }

    #menu, nav {
        width: 100%;
        margin: 0;
        grid-area: 4 / 1 / 5 / 5;
    }


    #menu a {
        padding: 0;
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.4em;
    }

    p {
        font-size: 1em;
    } 
    
    #about table {
        font-size: 1.2em;
    }

    #about, #services, #contact, #projects {
        margin: 0 auto 10% auto;
        padding: 4% 4%;
        width: 100%;
        box-sizing: border-box;
    }

    #services ul {
        margin: 0;
        padding: 0 12%;
        font-size: 1.1m;
    }

    #services ul li {
        /* width: 100%;
        justify-content: space-between;
        font-size: .7em;
        border-bottom: 2px solid gray;
        line-height: 2.5; */
    }

    #contact {
        /* font-size: .7em; */
    }

    #contact form {
        padding: 0 12%;
        font-size: 1em;
        line-height: 2;
    }

    label {
        /* margin: 10px;
        font-size: .7em; */
    } 

    input {
        height: .2em;
        font-size: .9em;
    }

    textarea {
        height: 7em;
        font-size: .8em;
    }
    
    button {
        /* padding: 1%;
        font-size: .7em; */
    }

    h4 {
        font-size: 20em;
    }

    #projects img {
        /* width: 100%; */
    }
}

@media only screen and (min-width: 750px) {
    
    body, html {
        min-width: 98vw;
        min-height: fit-content;
        margin: 0;
        padding: 0;
    }

    main {
        max-width: 100%;
        min-height: 100vw;
        margin: 0;
        padding: 0;
        display: grid; 
        grid-template-columns: 1fr 2fr;
        gap: 0 10px;
    }

    #branding {
        min-width: 100%;
        height: 5vw;
        margin: 0 0 2% 0;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .logo {
        display: none;
        width: 5px;
        height: auto;
        margin: 0;
        background-color: rgb(24, 26, 27);
        opacity: 80;
    }

    h1 {
        width: 100%;
        margin: 0;
        grid-area: 1 / 1 / 2 / 2;
    }

    h2 {
        width: 100%;
        margin: 0;
        grid-area: 1 / 3 / 2 / 4;
    }

    #socialmedia {
        width: 400px;
        grid-area: 1 / 1 / 2 / 2;
    }

    #menu {
        display: none;
    }

    #services {
        margin: 0 0 0 0;
        grid-area: 1 / 1 / 1 / 2;
    }

    #about {
        max-width: 100%;
        height: fit-content;
        margin: 0 0 0 0;
        padding: 0 2%;
        
    }

    #about table {
        font-size: 1.2em;
    }

    #contact {
        margin: 2% 0 0 0;
    }

    #projects {
        max-width: 100%;
        margin: 0 0 0 0;
        padding: 0 2%;
    }

   #projects h4 {
        font-size: 1em;
    }
}